<%= content_for :title do %>Privacy Policy<% end %>
<%= content_for :description do %>HARMAN Professional privacy policy.<% end %>

<div class="container main-container">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1>Privacy Policy</h1>
<h3 class="subheader">Who We Are</h3>
<p>This web site is operated by or on behalf of HARMAN Professional
(referred to as "HARMAN", "we", "our" and "us"). HARMAN's registered address is:</p>

<blockquote>HARMAN<br/>
400 Atlantic Street<br/>
Suite 1500<br/>
Stamford, CT 06901 U.S.A.
</blockquote>

<h3 class="subheader">Introduction</h3>
<p>HARMAN provides you this privacy policy to explain to you how HARMAN collects,
uses and protects your personal information when you visit HARMAN’s web sites and
when you use HARMAN’s products. HARMAN respects your privacy and is committed to
securing your personal information. This privacy policy was last updated on July
15, 2010. By using this website, you consent to our privacy policy and to HARMAN’s
terms of use. Please do read this privacy policy and the terms of use carefully
before contributing any information to this website.</p>

<h3 class="subheader">Collecting and Using Your Personal Information:</h3>
<p>The only personal information about you collected from the web site is the
personal information you provide to us.</p>

<p>HARMAN may use your personal information you provide to us in the process of
establishing an account on our web site in the following ways:</p>
<ol>
   <li> Obtain your name for purposes of communicating with you and identifying you as a user of the web site.</li>
   <li> Verify your age as older than 13.</li>
   <li> Verify your age as older than 18 or that you have obtained your parent’s or guardian’s permission to use the web site.</li>
   <li> Send you a catalog.</li>
   <li> Send you communications upon your request.</li>
   <li> Allow you to participate in a promotion or other web site feature.</li>
   <li> Customize and/or personalize your communications and shopping experience with HARMAN.</li>
   <li> Better respond to your customer concerns and complaints.</li>
   <li> Keep you informed of HARMAN’s upcoming product releases unless you other wise opt out of such messages.</li>
</ol>

<p>HARMAN may use your personal information that you provide to us in the
process of making a purchase in the following ways:</p>
<ol>
   <li> Confirm your use of a valid credit card.</li>
   <li> Process your payment via a credit card.</li>
   <li> Send you the products that you purchased.</li>
</ol>

<h3 class="subheader">Unsubscribing, Removing or Modifying Your Personal Information</h3>
<p>HARMAN appreciates that you may change your mind about our use of your personal
information in the future. HARMAN offers several ways you can inform us about your
privacy preferences:</p>
<ol>
   <li> All email messages and newsletters will provide a description on how you can ask us to stop sending you email messages and newsletters.</li>
   <li> At any time, you can send us an email at the address provided below.</li>
   <li> At any time, you can call our customer service number and request that you would like to change your marketing preferences.</li>
   <li> To modify or delete entirely the information you have provided during registration, please login to make any changes to your profile.</li>
</ol>

<p>Please note that if you have unsubscribed from our communications to you, due to
our internal processing requirements, you may receive communications already in
production. If you request your registration information be deleted or if you
unsubscribe from communications, we may maintain information about sales transactions
or service inquiries for future service and record keeping purposes.</p>

<h3 class="subheader">Non-Personal Information</h3>
<p>You may access and use various features of our website without providing any of
a personal nature (Personal Information, described below).</p>

<p>We may automatically record such information to track visits to our websites so
that we may compile statistics that show the numbers and frequency of visitors to
our website and its individual pages; such statistics may include your web request,
internet protocol address, browser type, browser language, and the date and time
of your request. We may enhance or merge your information collected from our website
with data from third parties for purposes of marketing products or services to you.</p>

<p>We may further, present links in a format that enables us to keep track of
whether these links have been followed.</p>

<h3 class="subheader">Cookies</h3>
<p>HARMAN may use cookies to improve your experience with our web site. HARMAN may
use cookies to improve HARMAN’s understanding of your likes and dislikes about our
web site, what you like and do not like on our web site, customize the web site
to your prior uses and to generally improve all customer needs and interests.</p>

<p>HARMAN may additionally use cookies to place advertisements about HARMAN’s products,
as well as the products and services of third parties, on our web site as well as
other web sites. This effort would be assisted by third parties.</p>

<p>These third party companies may use cookies and other technologies such as web
beacons or tagging to measure the effectiveness of our advertisements and to determine
the display of content and advertising based on your interests. Third parties may
collect and use anonymous information about your visits to our and other web sites.
The information collected by these cookies and used by third parties is always
anonymous and does not enable any third party to identify you individually or
contact your directly.</p>

<p>A cookie is a small removable data file that is stored by your web browser on
your computer. You can choose to have your computer warn you each time a cookie
is being sent or you can choose to turn off all cookies. Generally, cookies cannot
be used to run programs or deliver viruses to your computer and do not pose a
threat to a user’s computer. However, we cannot control and nor shall we be
responsible for any malicious use of these cookies by any third parties. You have
the ability to accept or decline cookies. You do this through your web browser
settings. If you turn cookies off, you won't have access to many features that
make your site experience more efficient and some of our services will not function
properly. You may also delete cookies from your computer.</p>

<h3 class="subheader">Interactive Areas</h3>
<p>Users may be permitted access to certain interactive areas of the websites such
as providing comments, feedbacks and reviews of products and services. You should
be aware that we do not monitor or have control over any information voluntarily
disclosed within these interactive areas and shall not be responsible for any
malicious or inappropriate use of such information by any third party.</p>

<h3 class="subheader">Disclosure and Sharing Your Information</h3>
<p>HARMAN does not rent, sell or disclose your contact information to any third
parties for any third party purpose. HARMAN may share your contact and personal
information with HARMAN’s affiliates under the same control of HARMAN as permitted
under this privacy policy. HARMAN may rent, sell or disclose anonymous information
about you derived from your personal information or contact information to third
parties for the third party’s own purposes.</p>

<p>HARMAN may provide your credit card information to HARMAN’s bank or credit
card processor solely for purposes of processing your payment. HARMAN may also
share your information with delivery services to ship products to you. On rare
occasions, we may disclose specific information upon governmental request, in
response to a court order, when required by law, to enforce our web site policies,
or to protect our or others' rights, property, or safety. We may also share
information with companies assisting in fraud protection or investigation.</p>

<p>In the event HARMAN is reorganized or transferred to a third party, your
personal information may be transferred to the successor of HARMAN for the purposes
and subject to the terms of this privacy policy.</p>

<h3 class="subheader">Protecting Your Information</h3>
<p>HARMAN engages the use of numerous technological security measures to preserve
the security of your information, including without limitation, encryption
technologies and authentication tools. Your personal information is contained behind
secure networks and is only accessible to a limited number of persons who have a
need to access your personal information for purposes of managing our web site
and providing you information as you have requested. All orders are placed through
a secure server. Please be aware that no electronic data transmission over the
internet can be 100% secure. We recommend that you take all reasonable measures
to protect the same, including using alternative login names, passwords and other
non-personal identifying information which differs from the information you use
to access sensitive accounts.</p>

<h3 class="subheader">Transferring Your Information Overseas</h3>
<p>If you are located outside of the United States, HARMAN may transfer your
information to HARMAN’s affiliates under the same control as HARMAN or to other
service providers outside of your country or territory. HARMAN manages its web
site from the United States. HARMAN acknowledges that the data protection laws
and other laws of the United States may not be as comprehensive as those of your
country or territory and HARMAN will take steps to ensure that your privacy rights
are respected. HARMAN agrees to take the following actions on your behalf: have
specific security measures in place to adequately protect your information, HARMAN
will require its United States-based affiliates to sign a contract guaranteeing
the safeguard of your personal information and set forth the specific requirements
the United States-based affiliate must maintain and monitor ongoing compliance
with the defined security measures.</p>

<h3 class="subheader">Children's Privacy</h3>
<p>We respect the privacy of children. Our web site is not designed to attract an
audience younger than 13. We do not knowingly collect personal information from
children under 13.</p>

<h3 class="subheader">Special Provision Applicable to California Residents</h3>
<p>Under California laws, California residents can request information from HARMAN
whether HARMAN has disclosed a person’s personal information to any third parties
for the third parties' direct marketing purposes. HARMAN will not sell or share
your personal information with non-HARMAN companies for their direct marketing
purposes without your consent. California residents desiring to request further
information about our compliance with these laws or have questions or concerns
about our privacy practices and policies are welcome to contact us.</p>

<h3 class="subheader">Obtaining a Copy of or Updating Your Personal Information</h3>
<p>You can write HARMAN at any time to obtain the personal information HARMAN
possesses about you or modify any personal information HARMAN retains that is
incorrect. Please let us know what information you would like to receive from us
or what information is incorrect and we will respond to you. Your request should
include your name and proof of your identity.</p>

<h3 class="subheader">Questions and Feedback</h3>
<p>We welcome your questions, comments, and concerns about privacy. Please send
us any and all feedback pertaining to privacy, or any other issue.</p>

<h3 class="subheader">Notice and Contact Information</h3>
<p>For questions or concerns, please email us or contact us at:</p>

<h3 class="subheader">VIA EMAILS:</h3>
<p><a href="mailto:webadmin@harman.com">webadmin@harman.com</a></p>

<h3 class="subheader">IN WRITING:</h3>
<blockquote>HARMAN International Industries, Incorporated<br/>
Attn: Law Department<br/>
400 Atlantic Street<br/>
Suite 1500<br/>
Stamford, CT 06901</blockquote>

<h3 class="subheader">Terms of Use</h3>
<p>Please also visit our <a href="/terms_of_use">terms of use</a> section
which explains other terms governing the use of our websites.</p>

    </div>
  </div>
</div>
