<%= content_for :title do %>Terms Of Use<% end %>
<%= content_for :description do %>HARMAN Professional website terms of use.<% end %>

<div class="container main-container">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1>Terms Of Use</h1>
<h3 class="subheader">Documents</h3>
<p>Permission to use Documents (such as white papers, press releases and other
publications) from this site is granted by Harman International Industries,
Incorporated ("Harman"), provided that: 1) use of such Documents from this site
is for informational and non-commercial or personal purposes only; 2) the Documents
are not copied or posted on any network computer or broadcast in any media; and
3) no modifications of any Documents are made. Use for any unauthorized purpose
is expressly prohibited by law, and may result in severe civil and criminal
penalties. Violators will be prosecuted to the maximum extent possible.</p>

<p>The Documents referred to above do not include the design or layout of this
Website. Elements of this Website are protected by trade dress and other laws,
and may not be copied or imitated in whole or in part. Harman's numerous trademarks,
trade names and logos are registered or otherwise protected in substantially all
major industrialized countries. Their use for any purpose is strictly prohibited
without Harman's express written consent in advance. Furthermore, no logo, graphic,
sound or image from this Website may be copied or retransmitted unless expressly
permitted in advance in writing by an authorized representative of Harman.</p>

<p>HARMAN AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE
SUITABILITY OF THE INFORMATION CONTAINED IN THE DOCUMENTS AND RELATED GRAPHICS
FOR ANY PURPOSE. ALL SUCH DOCUMENTS AND RELATED GRAPHICS ARE PROVIDED "AS IS"
WITHOUT WARRANTY OF ANY KIND AND ARE SUBJECT TO CHANGE WITHOUT NOTICE. THE ENTIRE
RISK ARISING OUT OF THEIR USE REMAINS WITH THE RECIPIENT. IN NO EVENT SHALL
HARMAN AND/OR ITS RESPECTIVE SUPPLIERS BE LIABLE FOR ANY DIRECT, CONSEQUENTIAL,
INCIDENTAL, SPECIAL, PUNITIVE OR OTHER DAMAGES WHATSOEVER (INCLUDING, WITHOUT
LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION OR LOSS
OF BUSINESS INFORMATION) ARISING FROM ANY USE OF SUCH MATERIALS, EVEN IF HARMAN
HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<h3 class="subheader">Links to Third Parties</h3>
<p>HARMAN PROVIDES LINKS TO YOU AS A CONVENIENCE ONLY, AND THE INCLUSION OF ANY
LINK DOES NOT IMPLY ENDORSEMENT BY HARMAN OF THE SITE. LINKED SITES ARE NOT UNDER
THE CONTROL OF HARMAN AND HARMAN IS NOT RESPONSIBLE FOR THE CONTENTS OF ANY
LINKED SITE OR ANY LINK CONTAINED IN A LINKED SITE.</p>

<h3 class="subheader">Privacy Policy</h3>
<p>Your Privacy Matters to Us!</p>

<p>We believe you should know:</p>
<ol>
  <li>What information this site gathers about you.</li>
  <li>What this site does with the information it tracks.</li>
  <li>With whom this site shares the information it gathers.</li>
</ol>

<p>We respect your right to privacy and do not share, sell or otherwise distribute
this information to any company or person other than those directly associated
with Harman International Industries, Incorporated or where required by law
including but not limited to sweepstakes rules. As part of the entry process, we
give you the opportunity to decline to receive communications including those
from our company.</p>

<p>The data we collect is used in the aggregate to give us demographic information
about the entire audience registering products. We use this to understand that
audience and to improve our offerings to you, our customers. The personal information
you provide - name, address, etc., is only used to supply you with information of
importance to you unless otherwise required by law.</p>

<h3 class="subheader">Security</h3>
<p>We have made a substantial investment in server, database, backup and firewall
technologies to protect the information provided to us. All data resides in a
tightly controlled, highly secure area, and is not stored on, or accessible via,
the Internet. These investments mean that your information is safe.</p>
    </div>
  </div>
</div>
