<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-7 small-12 columns">
    <h3>Choose a venue:</h3>
    <ul>
      <% @venues.order('name').each do |venue| %>
        <li> <%= link_to venue.name, edit_cms_available_locale_venue_path(@available_locale, venue) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 small-12 columns">
    <div class="panel">
      <h6>What is it?</h6>
      <p>Venues appear in one place--on the
      cityscape popups on the homepage.</p>
    </div>
  </div>
</div>
