<div class="row">
  <div class="large-12 columns">

    <h1>API Test : <%= @brand["name"] %></h1>

    <p> <%= image_tag @brand["logo_small"] %></p>

    <hr/>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <h3>Products</h3>
        <ul>
          <% @products.each do |product| %>
            <li><%= link_to product["name"], consultants_api_product_path(@brand["id"], product["id"]) %></li>
          <% end %>
        </ul>
      </div>
      <div class="large-6 medium-6 columns">
        <h3>Software</h3>
        <ul>
          <% @software.each do |software| %>
            <li><%= link_to software["formatted_name"], software["direct_download_url"], target: "_blank" %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

