<%= content_for :title do %>Consultant Portal<% end %>
<div class="container main-container">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1 class="text-center">Consultant Portal</h1>

      <div><%=raw textilize SiteSetting.value("consultant-portal-welcome-paragraph") %></div>

      <ul>
        <% @brands.each do |brand| %>
          <li><%= link_to "#{brand.name} Technical Downloads", brand.downloads_page_url, target: "_blank" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
