<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="large-10 small-12 columns">
    <h5 class="text-center">Edit Menu Item</h5>
    <div class="medium-6 medium-offset-3 small-12 columns">
      <div class="callout panel">
        <%= render 'cms/available_locales/menu_items/form' %>
      </div>
      <%= link_to "delete menu item", [:cms, @available_locale, @menu_item], method: :delete, class: "tiny alert button radius" %>
    </div>
  </div>
</div>
