<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-8 small-12 columns">
    <h5 class="text-center">Edit Menu Item</h5>
    <div class="medium-8 medium-offset-2 small-12 columns">
      <div class="callout panel">
        <%= render 'cms/available_locales/menu_items/form' %>
      </div>
    </div>
  </div>

  <div class="medium-2 columns">
    <div class="text-right">
      <%= link_to [:cms, @available_locale, @menu_item],
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "tiny alert button radius" do %>
        <%= fa_icon "trash" %>
        Delete Menu Item
      <% end %>
    </div>
  </div>
</div>
