<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-7 small-12 columns">
    <h3>Choose a product:</h3>
    <ul>
      <% @products.order(updated_at: :asc).each do |product| %>
        <li class="<%= 'needs-translation' if product.needs_translation?(@available_locale.key) %>">
          <%= link_to product.name, edit_cms_available_locale_product_path(@available_locale, product) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 small-12 columns">
    <div class="panel">
      <h6>What is it?</h6>
      <p>A Product represents an actual
      individual product offered by the
      company.</p>
    </div>
  </div>
</div>
