<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-7 small-12 columns">
    <h3>Choose a product type:</h3>
    <ul>
      <% @product_types.order('name').each do |product_type| %>
        <li class="<%= 'needs-translation' if product_type.needs_translation?(@available_locale.key) %>">
          <%= link_to product_type.name, edit_cms_available_locale_product_type_path(@available_locale, product_type) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 small-12 columns">
    <div class="panel">
      <h6>What is it?</h6>
      <p>A Product Type represents a group
      of real-world products offered by the
      company. These are used as the name
      that appears on popups in the
      system diagrams on the site.</p>
    </div>
  </div>
</div>
