<a name="buy"></a>
<div class="container buy-container" data-magellan-destination="buy">
  <div class="row">
    <div class="large-8 large-offset-2 columns">

      <% if vertical_market.retail? %>
        <div class="row">
          <div class="large-12 columns">

            <div style="height: 300px; padding-top: 150px; color: #eee;" class="text-center">
              Retail Placeholder - ecommerce links
            </div>

          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="large-12 columns">

            <div style="height: 300px; padding-top: 150px; color: #eee;" class="text-center">
              Infographic placeholder
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
