
<p>Authorized service centers are an integral part of our
customer service and support network. To become a service center,
you must meet the following criteria:</p>

<ul>
  <li>Be in a location where we do not have a current service center</li>
  <li>Be willing to service all HARMAN Professional brands</li>
  <li>Complete a service center application</li>
  <li>Complete a credit application</li>
  <li>Maintain required test and repair equipment to service HARMAN brands</li>
</ul>

