<%# The "learn" landing point is included here. The remaining should be included elsewhere in the markup. %>

<a name="learn" data-magellan-destination="learn"></a>
<div class="magellan-container space-after" data-magellan-expedition="fixed">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <dl class="sub-nav">
        <dd data-magellan-arrival="learn"><a href="#learn">Learn</a></dd>
        <dd data-magellan-arrival="plan"><a href="#plan">Plan</a></dd>
        <dd data-magellan-arrival="buy"><a href="#buy">Buy</a></dd>
      </dl>
    </div>
  </div>
</div>
