<div class="medium-2 small-12 columns">
  <h6>Translatable items for
  <%= link_to @available_locale.name, [:cms, @available_locale] %>:</h6>
  <ul class="side-nav">
    <% AvailableLocale.translatables.each do |t| %>
      <li>
        <%= link_to [:cms, @available_locale, t.constantize] do %>
          <%= t.pluralize.titleize %>
          (<%= t.constantize.needing_translations(@available_locale).count %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

