<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-10 small-12 columns">
    <i>Choose an item in the menu to translate</i>
  </div>
</div>
