<script type="text/ng-template" id="system_diagram_popup">
  <div class="triangle"></div>
  <div class="ns-popover-tooltip">
    <div class="row collapse">
      <div class="large-11 small-11 columns">
        <h5 class="subheader">{{ product_type.name }}</h5>
      </div>
      <div class="large-1 small-1 columns text-right">
        <a ng-click="hidePopover()"><%= image_tag('close.png', alt: "X") %></a>
      </div>
    </div>
    <p>{{ product_type.description }}</p>
    <i ng-show="{{ product_type.products.length > 0 }}"><%= t('reference_system_page.product_suggestions') %>:</i>
    <ul>
      <li ng-repeat="product in product_type.products">
        <div class="row">
          <div class="large-2 small-2 columns">
            <img src="<%= image_path('missing/banners/tiny.jpg') %>" ng-src="{{ product.tiny_photo_url }}" class="no-resize"/>
          </div>
          <div class="large-10 small-10 columns">
            <h6><strong><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></strong></h6>
            <a href="{{ product.buy_now_url }}" target="_blank" class="tiny success button" ng-show="{{ product.ecommerce_enabled }}">shop</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>

<img src="<%= asset_path "q.png" %>" alt="[?]" class="help-icon animated bounceIn hide-for-small-down" ns-popover
  ng-repeat="product_type in system['reference_system_product_types']"
  ptid="{{ product_type.id }}"
  ng-style="{'left': product_type.left, 'top': product_type.top}"
  ns-popover-modal="product-type-popups"
  ns-popover-theme="ns-popover-tooltip-theme"
  ns-popover-template="system_diagram_popup"/>
