<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-7 small-12 columns">
    <h3>Choose a landing page:</h3>
    <ul>
      <% @landing_pages.order(updated_at: :asc).each do |landing_page| %>
        <li class="<%= 'needs-translation' if landing_page.needs_translation?(@available_locale.key) %>">
          <%= link_to landing_page.title, edit_cms_available_locale_landing_page_path(@available_locale, landing_page) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 small-12 columns">
    <div class="panel">
      <h6>What is it?</h6>
      <p>A Landing Page is a catch-all resource
      which can be used for any purpose including
      email capture or general announcements.
      These pages are not automatically linked
      anywhere within the site.</p>
    </div>
  </div>
</div>
