<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-8 small-12 columns">
    <h5 class="text-center">New Landing Page</h5>
    <div class="callout panel">
      <%= render 'cms/available_locales/landing_pages/originated_form' %>
    </div>
  </div>

  <div class="large-2 medium-2 columns">
    <p>The URL for this page will be generated
    based on the title. You'll see the URL
    after creating the page.</p>
    <h6>Forms</h6>
    <p>To insert a form on your landing page,
    put one of these snippets in one of the
    content boxes:<p>
<pre>
~contact_form~
~lead_form~

</pre>
    <p>In both cases, the form will be
    emailed to the address(es) defined in the
    <%= link_to "Site Setting", [:cms, @available_locale, :site_settings] %>
    named "leadgen-recipients".
    This setting can be a single email address
    or a comma-separated list of email addresses.</p>
  </div>
</div>
