<div class="container main-container">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <h1><%= @case_study.headline %></h1>

      <%= textilize @case_study.content %>

    </div>
  </div>
</div>
