/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * NOTE: require_tree directive is diabled so the active_admin css isn't included in the main
 * application. Each css file will need to be included manually (if any).
 *
 * require_tree .
 *
 *= require_self
 *= require foundation_and_overrides
 *= require angular-awesome-slider/dist/css/angular-awesome-slider.min
 *= require nsPopover/sass/ns-popover
 *= require animate
 *= require service
 *= require events
 *= require jquery-ui
 */

span.spinner {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 43px;
  height: 11px;
  margin: 20px auto;
  background: asset-url('ajax-loader.gif');
}

img.help-icon {
  cursor: pointer;
}
img.no-resize { max-width: none; }

.jslider {
  margin-left: 2px;
  margin-top: 18px;
  table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    line-height: 1.4;
    div.jslider-scale {
      span {
        text-align: center;
        border: none;
        width: 50px;
        margin-left: -26px;
        ins {
          margin-top: 2px;
          color: white;
          font-size: 10px;
        }
        &:first-child {
          margin-left: 1px;
          text-align: left;
        }
        &:last-child {
          width: 60px;
          margin-left: -61px;
          text-align: right !important;
          ins {
            position: absolute;
            right: 0px;
          }
        }
      }
    }
    .jslider-bg {
      i {
        height: 6px;
        background-image: none;
        background-color: #555;
      }
    }
    .jslider-value {
      display: none;
    }
    .jslider-pointer {
      top: -8px;
      background-image: none;
      background: white;
      border-radius: 4px;
      border: 1px solid #444;
      width: 10px;
      height: 22px;
      margin-left: 0;
    }
  }
}

