// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

img.featured-event {
  margin-top: 14px;
}

.event-row {
  border-bottom: 1px dotted #888;
  padding: 6px;
  &:hover {
    background: #EEE;
  }
  .date-cell {
    padding-top: 6px;
  }
}
